# Local Variables & Configuration
.env
sheets.cfg

# Tasks Config
chron.cfg

# Google Credentials
credentials.json
gdrive_token.pickle

# Twilio Credentials
twilio.cfg

# Python
/env

# Visual Studio
/.vscode
